{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Metrificator</title>
</head>

<body>
    {%include 'navbar.html'%}
    <br>
    {{ip}}
    <div class="container">
      <h1 class="display-4">Rede</h1>
      <table class="table">
        <thead>
          <tr>
              <th>IP</th>
              <th>Endereço MAC</th>
          </tr>
        </thead>
        <tbody>
          {% for machine in network %}
          <tr>
              <td>{{machine.LAN_IP}}</td>
              <td>{{machine.MAC_ADDRESS|default_if_none:"Não foi possível identificar"}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</body>

</html>